{% extends 'layouts2/main.html' %}
{% load math_filters %}

{% block content %}


<div class="page-header">
    <div class="add-item d-flex">
        <div class="page-title">
            <h4>Statement - Day Wise </h4>
            <form action="" method="POST">
                {% csrf_token %}
<div class="d-flex align-items-end gap-2">
    <div class="col-auto">
        <label for="start_date" class="form-label">Start Date:</label>
        <input type="text" class="form-control datepicker" id="start_date" name="start_date" placeholder="" value="{{ start_date }}">
    </div>
    <div class="col-auto">
        <label for="end_date" class="form-label">End Date:</label>
        <input type="text" class="form-control datepicker" id="end_date" name="end_date" placeholder="" value="{{ end_date }}">
    </div>
    <div class="col-auto">
        <button type="submit" id="show" class="btn btn-primary">Show</button>
    </div>
</div>
</form>
        </div>

    </div>



</div>



<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-body">

                <table class="table">
                    <tr>
                        <th>DATE</th>
                        <th>CASHIER</th>
                        <th>LAST STAND BY</th>
                        <th>SALES</th>
                        <th>STAND BY</th>
                        <th>EXCHANGE</th>
                        <th>RETURN</th>
                        <th>DISCOUNT</th>
                        <th>CANCEL</th>
                        <th>EXP</th>
                        <th>CASH PAY</th>
                        <th>UPI</th>
                        <th>CARD</th>
                        <th>CREDIT</th>
                        <th>CASH TAKEN</th>
                        <th>SHORTAGE</th>
                        <th style="text-align: center;">STATUS</th>
                    </tr>
                    {% for data in cash_counter %}

                    <tr>
                        <td>{{ data.date|date:"d/m/Y" }}</td>
                        <td>{{data.cashier}}</td>
                        <td>{{data.last_stand_by|default:"-"}}</td>
                        <td>{{data.invoice.total_amount}}</td>
                        <td>{{data.stand_by}}</td>
                        <td>{{data.invoice.exchange|default:"-"}}</td>
                        <td>{{data.invoice.return}}</td>
                        <td>{{data.invoice.discount|default:"-"}}</td>
                        <td>{{data.invoice.cancel}}</td>
                        <td>{{data.exp_amount|default:"-"}}</td>
                        <td>{{data.cash_payment|default:"-"}}</td>
                        <td>{{data.invoice.upi|default:"-"}}</td>
                        <td>{{data.invoice.card|default:"-"}}</td>
                        <td>{{data.invoice.credit|default:"-"}}</td>
                        <td>{{data.cash_taken}}</td>
                        <td>{{ data.shortage|default_if_none:"-"|floatformat:2 }}</td>
<td style="text-align: center;">
    {% if data.finish == 1 %}
        <i class="fas fa-check-circle" style="color: green;"></i>
    {% else %}
        <i class="fas fa-hourglass-half" style="color: orange;"></i>
    {% endif %}
</td>

                    </tr>

                    {% endfor %}


                    <tr>
                        <th colspan="2">Total</th>
                        <th>{{ last_stand_by_total|default:"-" }}</th>
                        <th>{{invoice_total.total_amount}}</th>
                        <th>{{ total_stand_by }}</th>
                        <th>{{invoice_total.exchange}}</th>
                        <th>{{invoice_total.return}}</th>
                        <th>{{invoice_total.discount}}</th>
                        <th>{{invoice_total.cancel}}</th>
                        <th>{{total_exp_amount|default:"-"}}</th>
                        <th>{{total_cash_payment|default:"-"}}</th>
                        <th>{{invoice_total.upi}}</th>
                        <th>{{invoice_total.card}}</th>
                        <th>{{invoice_total.credit}}</th>
                        <th>{{ total_cash_taken }}</th>
                        <th>{{ total_shortage|default:"-"|floatformat:2 }}</th>
                        <th>-</th>
                    </tr>

                </table>


            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-body">
<h4>CASH TAKEN</h4>
                <table class="table">
    <thead>
        <tr>
            <th>Denomination</th>
            <th>Quantity</th>
            <th class="text-end">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cash_taken_denomination %}
            {% for denom, qty in item.items %}
                <tr>
                    <td>{{ denom }}</td>
                    <td>{{ qty }}</td>
                    <td class="text-end">{{ denom|multiply:qty }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <th colspan="2">Grand Total</th>
            <th class="text-end">{% cumulative_total cash_taken_denomination %}</th>
        </tr>
    </tbody>
</table>
            </div></div>
         <div class="card mb-4">
            <div class="card-body">
                <h4>STAND BY</h4>
<table class="table">
    <thead>
        <tr>
            <th>Denomination</th>
            <th>Quantity</th>
            <th class="text-end">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in stand_by_denomination %}
            {% for denom, qty in item.items %}
                <tr>
                    <td>{{ denom }}</td>
                    <td>{{ qty }}</td>
                    <td class="text-end">{{ denom|multiply:qty }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <th colspan="2">Grand Total</th>
            <th class="text-end">{% cumulative_total stand_by_denomination %}</th>
        </tr>
    </tbody>
</table>





        </div>
        </div>
    </div>

<div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-body">




<table class="table">
    <tbody>
        <tr>
            <td>LAST STANDBY</td>
            <td>{{ last_stand_by_total|default:"-" }}</td>
            <td></td>
        </tr>
        <tr>
            <td>SALE</td>
            <td></td>
            <td>{{ invoice_total.total_amount }}</td>

        </tr>
        <tr>
            <td>CASH</td>
            <td></td>
            <td>{{ total_cash_payment|default:"-" }}</td>

        </tr>
        <tr>
            <td>UPI</td>
            <td></td>
            <td>{{ invoice_total.upi|default:"-" }}</td>

        </tr>
        <tr>
            <td>CARD</td>
            <td></td>
            <td>{{ invoice_total.card|default:"-" }}</td>

        </tr>
        <tr>
            <td>EXPENSES</td>
            <td></td>
            <td>{{ total_exp_amount|default:"-" }}</td>

        </tr>
        <tr>
            <td>BUNDLE</td>
            <td></td>
            <td>-</td>
        </tr>
        <tr>
            <td>STAFF CREDIT</td>
<td></td>
            <td>-</td>
        </tr>
        <tr>
            <td>CURRENT STANDBY</td>
            <td></td>
            <td>{{ total_stand_by|default:"-" }}</td>
        </tr>
        <tr>
            <td>SHORTAGE</td>
            <td></td>
            <td>{{ total_shortage|default:"-"|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>TOTAL</th>
            <th>-</th>
            <th>-</th>
        </tr>
        <tr>
            <th>DIFFERENT</th>
            <th colspan="2">-</th>
        </tr>
    </tbody>
</table>



        </div>
        </div>
    </div>

</div>

{% endblock content %}