{% extends 'layouts2/main.html' %}

{% block content %}



{% if invoice_number != 0 %}
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-body">
                <form class="row g-3">
                    <!-- Bill Date -->
                    <div class="col-12">
                        <label for="bill_date" class="form-label">Bill Date (Optional):</label>
                        <input type="text" class="form-control datepicker" id="bill_date" value="{{invoice_date}}">
                    </div>

                    <!-- Bill Number + Show button in one row -->
                    <div class="col-12 d-flex align-items-end gap-2">
                        <div class="flex-grow-1">
                            <label for="bill_number" class="form-label">Bill Number:</label>
                            <input type="text" class="form-control" onfocus="this.select();" id="bill_number"
                                   value="{{invoice_number}}">
                        </div>
                        <div>
                            <button type="button" id="show" class="btn btn-warning">Show</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="card mb-4">
            <div class="card-body">
                <h4>Recent Bill:</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Invoice No.</th>
                        <th style="text-align: right;">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in recent_invoice %}
                    <tr>
                        <td>{{ data.invoice_date|date:"d/m/Y h:i A" }}</td>
                        <td>{{ data.invoice_number }}</td>
                        <td style="text-align: right;">{{ data.total_amount|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>


    </div>


    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-body mb-4">


                        <div id="print_data" class="mb-4">


                        </div>



            </div>

        </div>
    </div>


    <div class="col-lg-4">


        <span id="cash_data"></span>
        <span id="print_button_data"></span>

    </div>


</div>
{% else %}
<h3>No, Bill Found!</h3>
{% endif %}


<style type="text/css">
@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    body * {
        visibility: hidden;
    }

    #printable, #printable * {
        visibility: visible;
    }

    #printable {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 !important;
        padding: 0 !important;
    }

    #printable_content {
        margin: 0 !important;
        padding: 0 !important;
    }

    .table {
        margin-top: 0 !important;
    }
}
</style>

<!-- This content only appears in print view -->
<div id="printable">
    <div id="printable_content">
        <div id="print_datax">
            <!-- Your printable content here -->
        </div>
    </div>
</div>



{% endblock content %}


{% block footer %}
{% if invoice_number != 0 %}
<script>

$('body').on('click', '#print_1', function(e) {

            html = $("#print_data").html().replace('class="content"', "");
            $("#print_datax").html(html);
            window.print();
            $("#print_datax").html("");




});

    $(document).ready(function(){

    $('#bill_number').keydown(function(event){
        if (event.which == 13){
           show_bill();//body or action to be performed
        }
    });

    show_bill();

    });




    function cancel(invoice_id){
 if (confirm("Are you sure you want to cancel this invoice?")) {
    $.ajax(
                {
                    type: "POST",
                    url: "{% url 'pos_cancel_bill' %}",
                    data: {
                        'invoice_id': invoice_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (response) {


                        print_data(response)

                        console.log(response);
                    },
                    failure: function (response) {
                        alert(1);
                    },
                    error: function (response) {
                        alert(2);
                    }

                })

                }

    }




    $('#show').click(function(){

    var html=`<div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>`;

    $("#print_data").html(html)
        show_bill();
    });


 function print_data(response){



    $("#print_data").html("");

            var html = '';
            if(response.invoice_total_amount){



$("#print_button_data").html(`
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-center gap-5">
        <span id="cancel_button">

        </span>

                <button type="button" id="print_1" class="btn btn-primary">
                    <i class="fas fa-print"></i> Print
                </button>
            </div>
        </div>`);




            if(response.cancel_no!=null){
            html+=`<div class="alert alert-warning" style="width:360px;">
                                                    <strong>Please Note:</strong><br>This Bill Created for Cancel a Another Bill: `+response.cancel_no+`
                                                </div>`;
            }







eval(response.pos_template);







            cash_data=(`
<div class="card mb-4">
    <div class="card-body">
    <form action="" method="POST">{% csrf_token %}
        <label for="cash" class="form-label">Cash:</label>
        <input type="text" id="cash" name="cash" class="form-control mb-3"
               value="` + (response.cash ? response.cash : '') + `"
               placeholder="Enter cash amount" autocomplete="off">

        <label for="card" class="form-label">Card:</label>
        <input type="text" id="card" name="card" class="form-control mb-3"
               value="` + (response.card ? response.card : '') + `"
               placeholder="Enter Card Amount" autocomplete="off">

        <label for="upi" class="form-label">UPI:</label>
        <input type="text" id="upi" name="upi" class="form-control mb-3"
               value="` + (response.upi ? response.upi : '') + `"
               placeholder="Enter UPI Amount" autocomplete="off">

        <div class="text-center">
        <input type="hidden" name="cash_data_id" value="`+response.invoice_id+`">
            <button type="submit" id="update_button" class="btn btn-success mt-2">
                <i class="fas fa-sync-alt"></i> Update
            </button>
            </form>
        </div>
    </div>
</div>

            `);


            html = html.replace('class="content"', "");
            $("#print_data").append(html);



if(response.total_amount>0){
if(response.invoice_cancelled==0){



    if(response.finish==0){

    $("#cash_data").html(cash_data);

    $("#cancel_button").html(`
    <button type="button" onclick="cancel(`+response.invoice_id+`);" class="btn btn-danger">
    <i class="fas fa-times"></i> Cancel
    </button>
    `);





    }else{

    $("#cancel_button").html(`
    <button type="button" class="btn btn-secondary" disabled>
    <i class="fas fa-times"></i> Cancel
    </button>
    `);

    $('#update_button').prop('disabled', true);

    }

}else{
    $("#cancel_button").html(`
    <button type="button" class="btn btn-light" disabled>
    <i class="fas fa-times"></i> Cancelled
    </button>
    `);

    $('#update_button').prop('disabled', true);

    }

    }



            }else{

            html="No Data Found!";cash_data='';

            $("#print_data").append(html);
            $("#cash_data").html("");
            $("#print_button_data").html("");



            }



    }

    function show_bill(){

    var bill_date = $('#bill_date').val();
    var bill_number = $('#bill_number').val();

    $.ajax(
                {
                    type: "POST",
                    url: "{% url 'pos_print_bill' %}",
                    data: {
                        'bill_date': bill_date,
                        'bill_number': bill_number,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (response) {

                        print_data(response)

                    },
                    failure: function (response) {
                        alert(1);
                    },
                    error: function (response) {
                        alert(2);
                    }

                })

    }


</script>
{% endif %}


<script>
    $(function() {
    document.querySelector("html").setAttribute("data-layout-mode", 'light_mode');
    document.querySelector("html").setAttribute('data-layout-style', 'modern');
    document.querySelector("html").setAttribute('data-nav-color', 'light');
    });
</script>
{% endblock footer %}