
var qr_image=`<img style="width:150px;" src="{% url 'qr_code' data='123' %}" alt="QR Code">`;
qr_image=qr_image.replace("123",response.qrcode_data)

html += `<table class="content" border="0" cellpadding="5" cellspacing="5" style="width:69mm;">
            <tbody>
                <tr>
    <td colspan="5" style="white-space: nowrap;">{{SETTING.pos_header|safe}}</td>
</tr>`;

if(response.headline){

html+=`<tr>
    <td colspan="5" class="text-center" style="font-weight:bold;white-space: nowrap;">`+response.headline+`</td>
</tr>`;

}


html+=`<tr>
                <td style="text-align:center;border-bottom: 1px solid black;" colspan="5"><span>
    <span style="float:left;">
        BILL NO: `+ response.invoice_number + `
    </span>
    <span style="float:right;">
        DT: `+ response.invoice_date + `
    </span>
</span></td>
            </tr>
            <tr>
                <th style="width:10mm;border-bottom: 1px solid black;">PRICE&nbsp;&nbsp;</th>
                <th style="text-align:left;width:100%;border-bottom: 1px solid black;">ITEM</th>
                <th style="border-bottom: 1px solid black;">&nbsp;&nbsp;UNIT&nbsp;&nbsp;</th>
                <th style="border-bottom: 1px solid black;">&nbsp;&nbsp;QTY&nbsp;&nbsp;</th>
                <th style="border-bottom: 1px solid black;text-align:right;">AMOUNT</th>
            </tr>`;




                    $(response.sale_data).each(function (index, value) {

                        row_tax = parseFloat(value.tax_amount) - (parseFloat(value.tax_amount) * (parseFloat(response.total_discount_percent) / 100))
                        gross = parseFloat(value.gross_sale_price) - (parseFloat(value.gross_sale_price) * (parseFloat(response.total_discount_percent) / 100))

                        html += `                <tr>
                <td>`+ value.sale_price + `</td>
                <td style="font-size:9px;"><b><b>`+ value.inventory_name + `</b><br><small></small></b></td>
                <td style="text-align:center;">`+ value.unit + `</td>
                <td style="text-align:center;">`+ value.qty + `</td>
                <td style="text-align:right;">`+ value.amount + `</td>
            </tr>
         `;
                    })

                    html += `<tr>
                <th style="border-top: 1px solid black;text-align:right;" colspan="2">TOTAL:</th>
                <th style="border-top: 1px solid black;text-align:center;">`+ response.total_unit + `</th>
                <th style="border-top: 1px solid black;text-align:center;">`+ response.total_qty + `</th>
                <th style="border-top: 1px solid black;text-align:right;">`+ response.total_amount + `</th>
            </tr>`;

                    if (response.total_discount != 0) {
                        html += `<tr>
                <th style="border-top: 1px solid black;text-align:right;" colspan="4">Discount :</th>
                <th style="border-top: 1px solid black;text-align:right;">`+ response.total_discount + `</th>
            </tr>
            `;

                    }

                    if (response.round_off!=null) {
                        html += `<tr>
                        <th style="border-top: 1px solid black;text-align:right;" colspan="4">Round Off :</th>
                        <th style="border-top: 1px solid black;text-align:right;">`+ response.round_off + `</th>
                        </tr>`;
                    }



                    if (response.total_discount != 0) {

                        html += `<tr>
                <th style="border-top: 1px solid black;text-align:right;" colspan="4">GRAND TOTAL:</th>
                <th style="border-top: 1px solid black;text-align:right;">`+ (response.invoice_total_amount) + `</th>
            </tr>`;

                    }

                    html += `<tr>
    <td colspan="5"><br></td>
</tr>
<tr>
    <td style="border: 1px solid black;text-align:center;" colspan="5"><h3>GRAND TOTAL: Rs.`+ response.invoice_total_amount + `/-</h3></td>
</tr>
<tr>
    <td colspan="5">
        <center><code style="font-size:10px;">`+ response.total_gross_amount + `+` + (response.total_tax_amount / 2).toFixed(2) + `(CGST)+` + (response.total_tax_amount / 2).toFixed(2) + `(SGST)=` + (response.total_amount - response.total_discount) + `</code></center>
    </td>
</tr>
<tr>
    <td colspan="5"><br></td>
</tr>`;



                    html += `<tr>
    <td colspan="5" style="white-space: nowrap;">{{SETTING.pos_footer|safe}}</td>
</tr>


</tbody></table>`;