{% extends 'layouts2/main.html' %}
{% load inventory_querystring %}

{% block content %}
<h4 class="page-title mb-4">{{ request.session.TAX_CODE_NAME }} Code</h4>

<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-body">



<div class="row mb-3 align-items-center">
    <div class="col-lg-6 col-md-9 d-flex gap-2 flex-wrap">
<form method="get" class="row mb-3 align-items-end" id="filterForm">
    <div class="col-auto">
        <input type="text" name="hsn_code" class="form-control" placeholder="Search HSN Code" value="{{ request.GET.hsn_code }}">
    </div>
    <div class="col-auto">
        <input type="text" name="tax_rate" class="form-control" placeholder="Search Tax Rate" value="{{ request.GET.tax_rate }}">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>
    </div>
    <div class="col-lg-6 col-md-3 text-end mt-2 mt-md-0">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#taxModal" onclick="openTaxModal()">Add New</button>
        <a href="{% url 'delete_unused_taxcode' %}" class="btn btn-danger"
   onclick="return confirm('Are you sure you want to delete unused Tax Code IDs?');">
    <i class="fas fa-trash-alt me-2"></i> Delete Unused
</a>


    </div>
</div>




          <table class="table table-bordered table-hover" id="tax-table">
    <thead>
        <tr>
            <th style="width: 5%">S.No</th>
            <th style="width: 5%">ID</th>
            <th>{{ request.session.TAX_CODE_NAME }} Code</th>
            <th>{{ COMPANY.tax_type }} %</th>
            <th class="text-center" style="width: 5%">Edit</th>
            <th class="text-center" style="width: 5%">Delete</th>
        </tr>
    </thead>
    <tbody>
{% for data in tax_data %}
<tr data-id="{{ data.id }}">
    <td>{{ forloop.counter0|add:tax_data.start_index }}</td>
    <td>#{{ data.id }}</td>
    <td>{{ data.tax_code }}</td>
    <td>{{ data.tax_rate }}</td>
    <td class="text-center">
        <a href="#" onclick="openTaxModal({{ data.id }}, '{{ data.tax_code }}', '{{ data.tax_rate }}')">
            <i class="fas fa-edit text-primary" title="Edit"></i>
        </a>
    </td>
    <td class="text-center">
        <a href="{% url 'delete_tax_code' data.id %}" onclick="return confirm('Are you sure to delete?')">
            <i class="fas fa-trash-alt text-danger" title="Delete"></i>
        </a>
    </td>
</tr>
{% endfor %}

    </tbody>
</table>

<div class="d-flex justify-content-between align-items-center mt-3">
    <div><p class="card-text">
        Showing {{ tax_data.start_index }} to {{ tax_data.end_index }} of {{ tax_data.paginator.count }} entries
        </p>
    </div>
    <div>
        <nav>
<ul class="pagination mb-0">
    {% if tax_data.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ tax_data.previous_page_number }}&{% querystring_without request 'page' %}">Previous</a>
    </li>
    {% endif %}
    {% for num in tax_data.paginator.page_range %}
        {% if tax_data.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% elif num > tax_data.number|add:'-3' and num < tax_data.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}&{% querystring_without request 'page' %}">{{ num }}</a>
            </li>
        {% endif %}
    {% endfor %}
    {% if tax_data.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ tax_data.next_page_number }}&{% querystring_without request 'page' %}">Next</a>
    </li>
    {% endif %}
</ul>

        </nav>
    </div>
</div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="taxModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="taxForm">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">Add / Edit Tax Code</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="id" id="tax_id">
          <input type="hidden" name="company" value="{{ COMPANY.id }}">
          <div class="form-group">
            <label>HSN Code</label>
            <input type="number" name="tax_code" class="form-control" id="tax_code" required>
          </div>
          <div class="form-group mt-2">
            <label>{{ COMPANY.tax_type }} (%)</label>
            <input type="number" name="tax_rate" class="form-control" id="tax_rate" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block footer %}
<script>
function openTaxModal(id = '', tax_code = '', tax_rate = '') {
    $('#tax_id').val(id);
    $('#tax_code').val(tax_code);
    $('#tax_rate').val(tax_rate);
    $('#taxModal').modal('show');
}

$('#taxForm').submit(function(e) {
    e.preventDefault();
    $.ajax({
        url: "{% url 'save_tax_code' %}",
        method: "POST",
        data: $(this).serialize(),
        success: function(response) {
            location.reload();
        }
    });
});


</script>

{% endblock %}
